<div class="px-2 content-wrapper row">
    <div class="mx-auto card col-6">
        <div class="h3 card-header bg-white">
            Order History
        </div>
        <div class="card-body p-0 pt-3">
            <div class="responsive" style="height: 430px; overflow: auto;">
                {{!-- Đơn hàng --}}
                {{#each listorder}}
                <div class="card mb-3">
                    {{#if is_paid}}
                        <div class="card-body content-wrapper rounded pb-1" >
                    {{else}}
                    <div class="card-body rounded pb-1 hover-cursor-unpaid" name="order-card" 
                        id="order-{{order_id}}" onclick="clickOrder(this, this.id)">
                    {{/if}}
                        <div class="row">
                            <div class="h5 col-2" id="id">ID: {{order_id}}</div>
                            <div class="h5 col-5 py-0" id="time">Order At: {{ordered_at}}</div>
                            <div class="h5 col-5 " id="status">Status:
                                <span class="bg-{{status_color}} px-3 rounded py-1">
                                    <!-- đổi màu trang thái-->
                                    {{status}}
                                </span>
                            </div>
                        </div>
                        <div class="h5 mt-4 font-weight-bold">Package</div>
                        <div class="row">
                            <div class="col-7 my-auto">
                                {{!-- package --}}
                                {{#each listpackage}}
                                <div class="row rounded py-2 mb-2 mx-auto hover-cursor-color" name="badge-product"
                                    id="{{../this.order_id}}-{{this.pack_id}}" onclick="clickPackage(this, this.id);">
                                    <div class="font-weight-bold col-xl-5" id="catepack">
                                        {{pack_id}}
                                    </div>
                                    <div class="col" id="namepack">
                                        {{name}}
                                    </div>
                                </div>
                                {{/each}}
                                {{!-- package --}}
                            </div>
                            <div class="col-5 d-flex align-items-end">
                                <div class="text-right my-3">
                                    <div id="total" class="font-weight-bold">Total: {{total_price}} VND</div>
                                    <!--<button type="button" class="font-weight-bold mt-3 btn btn-{{colorbtnpayment}}"
                                        {{disable}}>
                                        THANH TOÁN
                                    </button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="card col-5 mx-auto d-flex">
        <div class="h3 card-header bg-white">
            Package Detail
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="bg-white text-black">
                        <th scope="col">Name</th>
                        <th scope="col">Price(VND)</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Quanity</th>
                    </tr>
                </thead>
                <tbody id="products-body">
                    {{!-- detail package --}}
                    <tr>

                        <td>kem đánh răng</td>
                        <td>20.000</td>
                        <td>Tuýp</td>
                        <td>1</td>

                    </tr>
                    {{!-- detail package --}}
                </tbody>
            </table>
        </div>
        <div class="row align-self-end mt-auto">
            <button type="button" class="font-weight-bold mt-3 btn btn-warning my-4">
                TOP UP
            </button>
            <button type="button" class="font-weight-bold mt-3 btn btn-success my-4 mx-2">
                MAKE PAYMENT
            </button>
        </div>
    </div>
</div>

{{#section "js"}}
<!-- Custom js for this page-->
<script type="text/javascript" src="js/dashboard.js"></script>
<script type="text/javascript" src="js/Chart.roundedBarCharts.js"></script>

<script>
    $("#products-body").empty();

    function moneyFormatter(x) {
        let moneyFormatter  = new Intl.NumberFormat();
        return moneyFormatter.format(x).replace(',', '.');
    }

    async function clickPackage(obj, id) {
        //console.log(id);
        let list = id.split('-');
        let order_id = list[0], pack_id = list[1];

        $('div[name="badge-product"]').removeClass("pointed");
        $('div[name="badge-product"]').addClass("hover-cursor-color");
        $(obj).removeClass("hover-cursor-color");
        $(obj).addClass("pointed");
        
        let products;
        await $.ajax({
            url: `/order-detail/${order_id}?pack_id=${pack_id}`,
            type: 'GET',
            success: async function (response, status) {
                products = await response;
                console.log(products);
            }
        });

        $("#products-body").empty();
        let body = "";
        for (let product of products) {
            body += `<tr>
                        <td>${product.name}</td>
                        <td>${moneyFormatter(product.price)}</td>
                        <td>${product.unit}</td>
                        <td>${product.quantity}</td>
                    </tr>`;
        }
        $("#products-body").append(body);
    }

    function clickOrder(obj, id) {
        /*let list = id.split('-');
        console.log(list[1]);
        console.log(id);*/
        $(obj).toggleClass("clicked-unpaid");
        /*$('div[name="order-card"]').each(function(index, div_element) {
            console.log("index:", index);
            console.log("value:", div_element);
            console.log("value:", $(div_element).attr("id"));
        });*/
    }
    
    
</script>
{{/section}}