<div style="padding-top: 10px; background-color: #F5F7FF">
  <h3 class="col-10 mx-auto mt-3  ">Edit User</h3>
  <form class="col-10 mx-auto mb-2" onsubmit="editSubmit(event)">
    <input type="hidden" id='id' value={{user.id}} disabled />
    <div class="form-row mt-5">
      <div class="form-group col-md-6 row mx-auto">
        <div class="was-validated" style="width: 90%">
          <label for="inputFullname">Full Name</label>
          <input type="text" class="form-control" id="name" value="{{user.name}}" required />
          <div class="invalid-feedback">
            Can not leave this field empty!
          </div>
        </div>
      </div>

      <div class="form-group col-md-6 row mx-auto">
        <div class="was-validated" style="width: 90%">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="username" value="{{user.username}}" required disabled />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 row mx-auto">
        <div class="was-validated" style="width: 90%">
          <label for="inputYob">Year Of Birth</label>
          <input type="number" class="form-control" id="year_of_birth" value={{user.year_of_birth}} min='1800'
            max='2021' required />
          <div class="invalid-feedback">
            Can not leave this field empty!
          </div>
        </div>
      </div>

      <div class="form-group col-md-6 row mx-auto">
        <div class="was-validated" style="width: 90%">
          <label for="identity_number">National ID</label>
          <input type="text" class="form-control is-valid" id="identity_number" value="{{user.identity_number}}"
            required />
          <div class="invalid-feedback">
            Can not leave this field empty!
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 row mx-auto">
        <div class="was-validated" style="width: 90%">
          <label for="street">Street</label>
          <input type="text" class="form-control is-valid" id="address" value="{{user.address}}" required />
          <div class="invalid-feedback">
            Can not leave this field empty!
          </div>
        </div>
      </div>

      <div class="form-group col-md-6 row mx-auto">
        <div style="width: 90%">
          <label for="province">Province</label>
          <select id="province" name="province" class="form-control" aria-describedby="validationServer04Feedback1"
            required>
            <option selected value="{{user.province.id}}">{{user.province.name}}</option>
            {{#each provinces}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            {{!-- lấy ward --}}
          </select>
          <div id="validationServer04Feedback2" class="font-weight-lighter invalid-feedback">
            Please select a valid Province.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 row mx-auto">
        <div style="width: 90%">
          <label for="district">District</label>
          <select id="district" name="district" class="form-control" aria-describedby="validationServer04Feedback2"
            required>
            <option selected value="{{user.district.id}}">{{user.district.name}}</option>
            {{#each districts}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            {{!-- lấy ward --}}
          </select>
          <div id="validationServer04Feedback2" class="font-weight-lighter invalid-feedback">
            Please select a valid District.
          </div>
        </div>
      </div>

      <div class="form-group col-md-6 row mx-auto">
        <div style="width: 90%">
          <label for="ward">Ward</label>
          <select id="ward" name="ward" class="form-control" aria-describedby="validationServer04Feedback3" required>
            <option selected value="{{user.ward.id}}">{{user.ward.name}}</option>
            {{#each wards}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            {{!-- lấy ward --}}
          </select>
          <div id="validationServer04Feedback3" class="font-weight-lighter invalid-feedback">
            Please select a valid Ward.
          </div>
        </div>
      </div>
    </div>


    <div class="form-row ">
      <div class="form-group col-md-6 row mx-auto">
        <div style="width: 90%">
          <label for="inputmaxbasket">Current Status</label>
          <select class="form-control" id="current_status">
            <option value="F0" {{#ifStr user.current_status "F0" }}selected{{/ifStr}}>F0</option>
            <option value="F1" {{#ifStr user.current_status "F1" }}selected{{/ifStr}}>F1</option>
            <option value="F2" {{#ifStr user.current_status "F2" }}selected{{/ifStr}}>F2</option>
            <option value="cured" {{#ifStr user.current_status "cured" }}selected{{/ifStr}}>cured</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6 row mx-auto">
        <div style="width: 90%">
          <label for="current_location">Quarantine Places</label>
          <select id="current_location" name="current_location" class="form-control" aria-describedby="validationServer04Feedback4" required>
            <option selected value="{{user.current_location.id}}">{{user.current_location.name}}</option>
            {{#each quarantines}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            {{!-- lấy ward --}}
          </select>
          <div id="validationServer04Feedback4" class="font-weight-lighter invalid-feedback">
            Please select a valid Quanrantine Location.
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn col-2 btn-success">Submit</button>
    </div>
  </form>
</div>

{{#section 'js'}}
<script type="text/javascript">
  function editSubmit(event) {
    event.preventDefault();
    const id = $("#id").val(), username = $('#username').val(), name = $('#name').val(),
      year_of_birth = $('#year_of_birth').val(), address = $('#address').val(),
      province = $('#province').val(), district = $('#district').val(), ward = $('#ward').val(),
      current_location = $('#current_location').val(), current_status = $('#current_status').val();
    console.log($('#username').val());
    var jqxhr = $.post(`/users/${id}/edit`, { id, username, name, year_of_birth, address, current_status, current_location,province, district,ward}, function () {

    })
      .done(function () {
        alert("Edit success");
      })
      .fail(function (err) {
        alert("Error: Can not update with given ID");
      })
    // Set another completion function for the request above
    jqxhr.always(function () {
      $(location).attr("href", $(location).attr("href"));
    });
  }


  $(function () {
    $("#province").change(function () {
      var selectedText = $(this).find("option:selected").text();
      var selectedValue = $(this).val();
      fetch(`/area/district?province_id=${selectedValue}`).then(res => {
        res.json().then(data => {
          $("#district option").remove();
          data.forEach(row => {
            $("#district").append(`<option value="${row.id}">${row.name}</option>`)
          })
        })
      })
    });
    $("#district").change(function () {
      var selectedText = $(this).find("option:selected").text();
      var selectedValue = $(this).val();
      fetch(`/area/ward?district_id=${selectedValue}`).then(res => {
        res.json().then(data => {
          $("#ward option").remove();
          data.forEach(row => {
            $("#ward").append(`<option value="${row.id}">${row.name}</option>`)
          })
        })
      })
    });
  });
</script>

{{/section}}