<div class="content-wrapper">
    {{!-- welcome --}}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    {{!-- <div class="row ml-2">
                        {{#if isPatient}}
                        <button type="button" class="btn btn-2side left-side active-btn">Patient</button>
                        <button type="button" class="btn btn-2side right-side non-active-btn"
                            onclick="location.href='';">Supervisor</button>
                        {{else if isSupervisor}}
                        <button type="button" class="btn btn-2side left-side non-active-btn"
                            onclick="location.href='';">Patient</button>
                        <button type="button" class="btn btn-2side right-side active-btn">Supervisor</button>
                        {{else}}
                        {{/if}}
                    </div> --}}
                    <h2 class="font-weight-bold"
                        style="margin-top: 0.5rem; margin-bottom: auto; margin-left: 1.5rem">Patient</h2>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control" id="content-search-input" placeholder="Search"
                                aria-label="search" aria-describedby="search">
                            <div class="input-group-prepend hover-cursor" id="content-search-icon">
                                <span class="input-group-text" id="userlist-search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <div class="row">
                        <button class="btn btn-primary ml-3 mr-2" onclick="location.href='./users/new?role=user';"> Add new</button>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Filter</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                {{!-- <h6 class="dropdown-header">Header</h6> --}}
                                <a class="dropdown-item" href="/users?order-by=name-ascending">A-Z</a>
                                <a class="dropdown-item" href="/users?order-by=name-descending">Z-A</a>
                                <a class="dropdown-item" href="/users?order-by=serious-status">Serious Status</a>
                                {{!-- <div class="dropdown-divider"></div> --}}
                                {{!-- <a class="dropdown-item" href="/users?order-by=price-descending">Serious
                                    Status</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title mb-0">User List</p>
                    <div class="table-responsive table-hover">
                        <table class="table table-borderless">
                            <thead style="border-bottom: 2px solid black">
                                <tr>
                                    <th>Photo</th>
                                    <th>Full Name</th>
                                    <th>Address</th>
                                    <th>Warrantly Place</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each userList}}
                                <tr>
                                    <td class="py-1">
                                        <img src="/img/user.png" alt="image" />
                                    </td>
                                    <td class="hover-cursor" onclick="location.href='/user/{{this.id}}/view';">{{name}}</td>
                                    <td class="hover-cursor" onclick="location.href='/user/{{this.id}}/view';">{{address}}</td>
                                    <td class="hover-cursor" onclick="location.href='/user/{{this.id}}/view';">{{current_location}}</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-{{#ifStr current_status " F0"}}danger{{else}}{{#ifStr
                                            current_status "F1" }}warning{{else}}primary{{/ifStr}}{{/ifStr}}"
                                            style="width: 100%;">{{current_status}}</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary" onclick="location.href='/users/{{this.id}}/edit';"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger ml-2"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section "js"}}
<!-- Custom js for this page-->
<script type="text/javascript" src="js/dashboard.js"></script>
<script type="text/javascript" src="js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
{{/section}}