<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="row">
                        <textarea id="pack-name" name="text" rows="1" cols="30" wrap="soft" maxlength="40" placeholder="Pack name"
                            style="overflow:hidden; resize:none; text-align: center; padding: 2rem 0.5rem; font-size: 1.25rem;
                        margin-left: 1rem; border-radius: 5px" required></textarea>
                    </div>
                </div>
                <div class="col-12 col-xl-3 mb-4 mb-xl-0">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="pack-quantity-limit" type="number" value="1" min="1" max="10"
                            style="text-align: center; max-width: 4rem; margin-left: 0.75rem" />
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="pack-time-limit">
                                <option value="ngày">ngày</option>
                                <option value="tuần" selected>tuần</option>
                                <option value="tháng">tháng</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-6 mt-3">
                    <div class="justify-content-end d-flex">
                        <button class="btn btn-primary ml-3" id="btn-create-pack" style="font-size: medium;">Create</button>
                    </div>
                </div>
            </div>
            
            <div class="row" style="display: none;" id="create-error-msg">
                <div class="col-12 mt-4 mb-2 mb-xl-0">
                    <div class="alert alert-danger" role="alert">Error here</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title mb-0">Select Products</p>
                    <div class="table-responsive table-hover" style="height: 430px; overflow: auto;">
                        <table class="table table-borderless" id="products-table">
                            <thead style="border-bottom: 2px solid black">
                                <tr>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Price (VND)</th>
                                    <th>Unit</th>
                                    <th>Quantity Limit</th>
                                    {{!-- <th>Action</th> --}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each allProducts}}
                                    <tr data-product-id="{{this.id}}">
                                        <td class="py-1">
                                            <img src="/{{this.url}}" style="width:180px; height:180px"
                                                alt="image" />
                                            {{!-- <img src="/img/image 7.png" style="width:180px; height:180px"
                                            alt="image" /> --}}
                                        </td>
                                        {{!-- <td class="product-id" style="visibility: hidden;">{{this.id}}</td> --}}
                                        <td class="product-name">{{this.name}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.unit}}</td>
                                        <td class="product-quantity-limit">
                                            <input type="number" value="0" min="0" max="10"
                                                style="text-align: center; max-width: 4rem; margin-left: 0.75rem" />
                                        </td>
                                        {{!-- <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-danger hover-cursor ml-3"><i
                                                    class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td> --}}
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section "js"}}
    <!-- Custom js for this page-->
    <script type="text/javascript" src="js/dashboard.js"></script>
    <script type="text/javascript" src="js/Chart.roundedBarCharts.js"></script>

    <script>
        async function onclickCreate() {
            $('#create-error-msg').hide();
            console.log("CREATE");

            let selectedProducts = [];
            let packDetail = {
                name: $('#pack-name').val(),
                quantity_limit: $('#pack-quantity-limit').val(),
                time_limit_unit: $('#pack-time-limit').val()
            }
            console.log('packDetail: ', packDetail);

            // check condition: pack name not empty
            if (packDetail.name === '') {
                $('#create-error-msg').show();
                $('#create-error-msg>div>div').text('Pack name empty!');
                return;
            }

            $('#products-table tbody tr').each(function () {
                let currentRow = $(this);
                let productId = currentRow.data('product-id');
                let productName = currentRow.find('.product-name').eq(0).text();
                let quantityLimit = currentRow.find('.product-quantity-limit input').eq(0).val();

                if (quantityLimit > 0) {
                    selectedProducts.push({
                        'product_id': productId,
                        //'product_name': productName,
                        'quantity_limit': quantityLimit
                    });
                }
            });
            console.log('selectedProducts: ', selectedProducts);

            // check condition: select at least 2 products
            if (selectedProducts.length < 2) {
                $('#create-error-msg').show();
                $('#create-error-msg>div>div').text('Pack must contain at least 2 products!');
                return;
            }

            $.ajax({
                url: `/packs/new`,
                type: 'POST',
                data: {
                    packDetail,
                    products: selectedProducts
                },
                success: async function (data, textStatus, jqXHR) {
                    console.log('success: ', data);
                    window.location.href = `/packs`;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error: ', errorThrown);
                }
            });
        }

        $('#btn-create-pack').click(onclickCreate);

    </script>

    <!-- End custom js for this page-->
{{/section}}