<div class="content-wrapper">
    {{!-- welcome --}}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <div class="row ml-2">
                        {{#if isNecessities}}
                        <button type="button" class="btn btn-2side left-side active-btn">Necessities</button>
                        <button type="button" class="btn btn-2side right-side non-active-btn"
                            onclick="location.href='/packs';">Package</button>
                        {{else if isPackage}}
                        <button type="button" class="btn btn-2side left-side non-active-btn"
                            onclick="location.href='/products';">Necessities</button>
                        <button type="button" class="btn btn-2side right-side active-btn">Package</button>
                        {{else}}
                        {{/if}}
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="input-group">
                            <input type="text" name="searchStr" class="form-control" id="products-search-input" placeholder="Search"
                                aria-label="search" aria-describedby="search">
                            <div class="input-group-prepend hover-cursor" id="search-btn">
                                <span class="input-group-text" id="userlist-search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <div class="row">
                        <h3 class="font-weight-bold mr-5"
                            style="margin-top: auto; margin-bottom: auto; margin-left: 1.5rem">Necessities</h3>
                        <button class="btn btn-primary mr-2" onclick="location.href='/products/new';"> Add new</button>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="input-group mr-4">
                            <input type="number" min="0" name="filterStr" class="form-control" id="products-filter-input" placeholder="Price Filter"
                                aria-label="search" aria-describedby="search">
                            <div class="input-group-prepend hover-cursor" id="filter-btn">
                                <span class="input-group-text" id="userlist-search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Filter</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                <a class="dropdown-item"
                                    href="/products?order-by=name-ascending">A-Z</a>
                                <a class="dropdown-item"
                                    href="/products?order-by=name-descending">Z-A</a>
                                <a class="dropdown-item"
                                    href="/products?order-by=price-ascending">Price ascending</a>
                                <a class="dropdown-item"
                                    href="/products?order-by=price-descending">Price descending</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="page-body">
        {{#each productList}}
        <div class="col-md-3 mb-4">
            <div class="card hover-cursor pack-card" style="width: 100%;">
                <img src="{{this.url}}" class="card-img-top" style="width: 100%; height: 200px" onclick="location.href='/products/{{this.id}}/view';">
                <hr/>
                <div class="card-body">
                    <h5 class="card-title" onclick="location.href='/products/{{this.id}}/view';">{{this.name}}</h5>
                    <p class="card-text" onclick="location.href='/products/{{this.id}}/view';">{{formatMoney this.price}}</p>
                    <a class="btn btn-sm btn-primary mt-3" href="/products/{{this.id}}/edit">
                        <i class="mdi mdi-pencil mx-2"></i></a>
                    <button type="button" class="btn btn-sm btn-danger mt-3 ml-1 icon-del-pack" id="{{this.id}}" onclick="showModalDel(this.id)">
                        <i class="icon-trash mx-2"></i></button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-del-pack-{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-pack-name">
                        {{#if this.name}}
                            Are you sure to delete "{{this.name}}" ?
                        {{/if}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        {{!-- <button type="button" class="btn btn-danger" id="btn-del-pack" data-dismiss="modal" onclick="onclickDelete(id)">Delete</button> --}}
                        <button type="button" class="btn btn-danger" id="{{this.id}}" data-dismiss="modal" onclick="onClickDelete(this.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Custom css for this page-->
{{#section "css"}}
    <style>
        .pack-card {
            box-shadow: 0;
            transition: box-shadow 0.2s ease-in-out;
        }
        .pack-card:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
        }

        .card-popover {
            border-radius: 5px;
            position: absolute;
            z-index: 30;
            
            /*transition: opacity 0.2s ease-in-out;*/
            transition: height 0ms 400ms, opacity 400ms 0ms;
            opacity: 0;
            height: 0;
            overflow: hidden;
            /*transition: display 0.4s ease-in-out;*/
           /* transition: visibility 0s, opacity 0.5s ease-in-out;*/
        }

        .card-popover-show {
            /*display: inline-block;*/
            /*visibility: visible;*/
            opacity: 1;
            height: auto;
            transition: height 0ms 0ms, opacity 600ms 0ms;
        }

        .search-result-row:hover {
            filter: brightness(0.85);
            cursor: pointer;
        }
    </style>
{{/section}}

{{#section "js"}}
<!-- Custom js for this page-->
<script type="text/javascript" src="js/dashboard.js"></script>
<script type="text/javascript" src="js/Chart.roundedBarCharts.js"></script>

<script>
    function showModalDel(id) {
        $(`#modal-del-pack-${id}`).modal('show');
    }

    async function onClickDelete(id) {
        console.log(id);
        await $.ajax({
            url: `/products/${id}`,
            type: 'DELETE',
            success: async function (response, status) {
                const res = await response;
                console.log(res);
                window.location.href = '/products';
            }
        });
    }

    function renderProduct(list) {
        $("#page-body").empty();
        for (let product of list) {
            $("#page-body").append(`
        <div class="col-md-3 mb-4">
            <div class="card hover-cursor pack-card" style="width: 100%;">
                <img src="${product.url}" class="card-img-top" style="width: 100%; height: 200px" onclick="location.href='/products/${product.id}/view';">
                <hr/>
                <div class="card-body">
                    <h5 class="card-title" onclick="location.href='/products/${product.id}/view';">${product.name}</h5>
                    <p class="card-text" onclick="location.href='/products/${product.id}/view';">${product.price}</p>
                    <a class="btn btn-sm btn-primary mt-3" href="/products/${product.id}/edit">
                        <i class="mdi mdi-pencil mx-2"></i></a>
                    <button type="button" class="btn btn-sm btn-danger mt-3 ml-1 icon-del-pack" id="${product.id}" onclick="showModalDel(this.id)">
                        <i class="icon-trash mx-2"></i></button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-del-pack-${product.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-pack-name">
                        Are you sure to delete "${product.name}" ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="${product.id}" data-dismiss="modal" onclick="onClickDelete(this.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
            `);
        }
    }

    $("#search-btn").click(async () => {
        let searchStr = $("#products-search-input").val();
        if (searchStr == "") {
            $.ajax({
                url: `/products/get-all`,
                type: 'GET',
                success: async function (data, textStatus, jqXHR) {
                    const products = await data;
                    console.log('success: ', products);
                    renderProduct(products);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error: ', errorThrown);
                }
            })
        }
        else {
            $.ajax({
                url: `/products/search`,
                type: 'POST',
                data: {
                    searchStr
                },
                success: async function (data, textStatus, jqXHR) {
                    const products = await data;
                    if (products.length == 0) {
                        $("#page-body").empty();
                        $("#page-body").html("<h2>No result match<h2/>");
                        return;
                    }
                    console.log('success: ', products);
                    renderProduct(products);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error: ', errorThrown);
                }
            })
        }
    });

    $("#filter-btn").click(async () => {
        let filterNumber = $("#products-filter-input").val();
            
        if (typeof filterNumber == 'undefined' || filterNumber == 0) {
            $.ajax({
                url: `/products/get-all`,
                type: 'GET',
                success: async function (data, textStatus, jqXHR) {
                    const products = await data;
                    console.log('success: ', products);
                    renderProduct(products);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error: ', errorThrown);
                }
            })
        }
        else {
            $.ajax({
                url: `/products/filter?price=${filterNumber}`,
                type: 'GET',
                success: async function (data, textStatus, jqXHR) {
                    const products = await data;
                    if (products.length == 0) {
                        $("#page-body").empty();
                        $("#page-body").html("<h2>No result match<h2/>");
                        return;
                    }
                    console.log('success: ', products);
                    renderProduct(products);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error: ', errorThrown);
                }
            })
        }
    });
</script>

<!-- End custom js for this page-->
{{/section}}